{% extends "template.html" %}

{% block content %}
<div class='center'>
    <div class="multiCameraWrapper">
        <div class="buttons">
            <button type="button" class="btn btn-primary" onclick='showCamera();'>Primary</button>
            <button type="button" class="btn btn-warning" onclick='showDebug();'>Debug</button>
            <button type="button" class="btn btn-danger" onclick='resetStream();'>None</button>
            <button type="button" class="btn btn-info" id="toggle_recording">Record</button>
        </div>
        <div class="cameras" style="position: relative; left: 0; top: 0;">
            <!-- img id='field' style="-webkit-user-select: none; position: relative; top: 0; left: 0;" src="http://192.168.12.107:5000/stream">
-->
            <svg id="marker" style="position: absolute; top: 60px; left: 80px;" width="40" height="40">
               <circle cx="20" cy="20" r="16" stroke="red" stroke-width="4" fill="none" />
               Sorry, your browser does not support inline SVG.
            </svg>
        </div>
            <img id='cameras' style="-webkit-user-select: none; position: relative; top: 0; left: 0;" src="combined/video">
    </div>
    <div class="floatBlock">
        <h2>
            <span id="camera">Camera slider</span>
        </h2>
        <div id="slider-be-here" class="no-ui-slider">
            Derp
        </div>
    </div>

<pre class="text-left">
# gameplay enable
gameplay.enable = controller0.button8, controller0.button11

# drive
x = controller0.axis0 * 0.33
y = controller0.axis1 * 0.33
w = controller0.axis3 * 0.2

# move forward slowly
controller0.button3 -> y = 0.15

# debug, set pwm
delta = controller0.button12 or 0
delta = delta or -controller0.button13
pwm = max(0, min(pwm + delta * 200, 10000))

# debug run pwm
controller0.button0 -> set_thrower(pwm)

# debug, repositon
controller0.button6 -> drive_to_field_center()

# debug, align
controller0.button2 -> align_to_goal

# debug ?
controller0.button5
controller0.button1
</pre>

</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
        function resetStream() {
            $('#cameras').attr("src", "");
        }

        function showCamera() {
            resetStream();
            $('#cameras').attr("src", 'combined/video');
            $('#cameras').css("width", '100%');

        }

        function showDebug() {
            resetStream();
            $('#cameras').attr("src", 'combined/debug');
            $('#cameras').css("width", '100%');
        }

</script>
{% endblock %}

