# numpy
scipy
pyserial
matplotlib
gevent
flask
flask_sockets
humanize
watchdog
uavcan
# Gevent websocket patched for Python3
git+https://gitlab.com/noppo/gevent-websocket

rospkg

prospector

dataclasses; python_version < '3.7.1'
